.AllYearMainView {
  @extend .MainView;
  flex-direction: column;

  .AllYears {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

    //background-color: yellow;

    .EachYear {
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;

      &:not(:last-of-type) {
        border-bottom: 1px solid black;
      }

      .YearName {
        width: 20%;
        margin: 0;
        padding: 0 10px;
        border-right: 1px solid black;
        @media screen and (max-width: 700px) {
          width: 15%;
          font-size: 1.5em;
          border-right: 0;
        }
      }

      .YearMonths {
        width: 80%;
        padding: 0 10px;
        .EachMonth {
          display: inline-block;
          margin-right: 20px;

          .EachMonthNoLink {
            color: $color__cool-grey;
            pointer-events: none;
          }
          .EachMonthLink {
            @extend %link;
          }
        }
        @media screen and (max-width: 700px) {
          width: 85%;
        }
      }
    }
  }
}
