.CalendarMainView {
  @extend .MainView;
  flex-direction: column;
}

.CalendarTitle {
  background-color: $color__stone;
  color: white;

  display: flex;
}

.CalendarTitleLeft, .CalendarTitleRight {
  // https://stackoverflow.com/a/44348868/2603230
  flex: 1;
}

.CalendarTitleCenter {
  display: inline-flex;
  align-items: center;

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    @media screen and (max-width: 700px) {
      font-size: 1.5em;
    }
  }
}

.CalendarNavigationButton {
  height: 100%;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 130%;
  display: flex;
  align-items: center;
  a {
    color: inherit;
  }
  @media screen and (max-width: 700px) {
    font-size: 100%;
    padding: 0;
  }
}

.CalendarNavigationBackButton {
  margin-left: 20px;
  float: left;
  text-decoration: underline;
  @media screen and (max-width: 700px) {
    font-size: 95%;
    margin-left: 10px;
  }
}

.CalendarNavigationPrevButton {
  margin-right: 20px;
  &::before {
    content: "\2190";
    margin-right: 5px;
  }
  @media screen and (max-width: 700px) {
    margin-right: 0;
  }
}

.CalendarNavigationNextButton {
  margin-left: 20px;
  &::after {
    content: "\2192";
    margin-left: 5px;
  }
  @media screen and (max-width: 700px) {
    margin-left: 0;
  }
}

.CalendarContent {
  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 1;
  @extend %overflow-y;
}

.CalendarContentEvent {
  background-color: $color__stone;
  border-radius: 0px;
  color: white;
  border: 0px;
  text-align: center;
  padding: 0;
  a {
    display: block;
    color: inherit;
    padding: 2px 5px;
  }
}

.CalendarNotFound {
  margin-top: 20px;
  font-size: 150%;
}
