* {
  box-sizing: border-box;
}

.PaperMain {
  display: flex;
  flex-wrap: wrap;
}

.NavigationSection {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.PaperSection {
  flex: 70%;
}

.highlight {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /*outline: 12px auto #0A7EbE;*/
  background-color: yellowgreen;
}
