/* https://stackoverflow.com/a/46130505/2603230 */
.PaperView {
  flex: 1;
  min-height: 0;
  display: flex;
}

.NavigationSection {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-y: scroll;
}

.PaperSection {
  width: 70%;
}

@media screen and (max-width: 700px) {
  .PaperView {
    flex-direction: column;
  }
  .NavigationSection {
    height: 30%;
    width: 100%;
  }
  .PaperSection {
    height: 70%;
    width: 100%;
  }
}

.highlight {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /*outline: 12px auto #0A7EbE;*/
  background-color: yellowgreen;
}
