* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.NavigationSection {
  width: 30%;
  height: 100vh;
  float: left;
  background-color: #f1f1f1;
  padding: 20px;
  overflow: scroll;
}

.PaperSection {
  width: 70%;
  height: 100vh;
  float: right;
}

@media screen and (max-width: 700px) {
  .NavigationSection {
    float: none;
    height: 30vh;
    width: 100%;
  }
  .PaperSection {
    float: none;
    height: 70vh;
    width: 100%;
  }
}

.highlight {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /*outline: 12px auto #0A7EbE;*/
  background-color: yellowgreen;
}
