// https://identity.stanford.edu/color.html
$color__cardinal-red: #8C1515;
$color__cardinal-dark-red: #820000;
$color__cardinal-bright-red: #B1040E;
$color__cool-grey: #4D4F53;
$color__fog: #F4F4F4;
$color__stone: #544948;
$color__sandstone: #D2C295;
$color__light-sandstone: #F9F6EF;
$color__light-sage: #C7D1C5;
$color__clay: #5F574F;
$color__gold: #B26F16;
$color__redwood: #8D3C1E;
$color__brown: #5E3032;
$color__sun: #EAAB00;

$color__link: $color__cardinal-dark-red;
$color__link-visited: $color__cardinal-dark-red;
$color__link-hover: $color__cardinal-bright-red;

%link {
  @extend a;
  cursor: pointer;
}

%no-click {
  pointer-events: none;
  cursor: default;
}

%overflow-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
