.CalendarMainView {
  @extend .MainView;
  flex-direction: column;
}

.CalendarTitle {
  background-color: $color__stone;
  color: white;
  flex: 0;

  display: flex;
}

.CalendarTitleLeft, .CalendarTitleRight {
  // https://stackoverflow.com/a/44348868/2603230
  flex: 1;
}

.CalendarTitleCenter {
  display: inline-flex;
  align-items: center;

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
}

.CalendarNavigationButton {
  height: 100%;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 130%;
  display: flex;
  align-items: center;
  a {
    color: inherit;
  }
}

.CalendarNavigationBackButton {
  margin-left: 20px;
  float: left;
  text-decoration: underline;
}

.CalendarNavigationPrevButton {
  margin-right: 20px;
  &::before {
    content: "\2190";
    margin-right: 5px;
  }
}

.CalendarNavigationNextButton {
  margin-left: 20px;
  &::after {
    content: "\2192";
    margin-left: 5px;
  }
}

.CalendarContent {
  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 1;
  @extend %overflow-y;
}

.CalendarContentEvent {
  background-color: $color__stone;
  border-radius: 0px;
  color: white;
  border: 0px;
  text-align: center;
}

.CalendarNotFound {
  margin-top: 20px;
  font-size: 150%;
}
