@import "Variables";

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
}

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* https://stackoverflow.com/a/46130505/2603230 */
.App {
  text-align: center;
  height: 100vh;
  /* It should never be necessary to scroll the whole page. */
  margin: 0;
  /* Nothing should get added to the 100vh. */
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: $color__cardinal-red;
}

.site-title a {
  color: white;
}

.searchbar {
  background-color: transparent;
  color: white;
}
.searchbar::placeholder {
  color: $color__light-sandstone;
}
.searchbar:focus {
  background-color: transparent;
  color: white;
}

/* https://stackoverflow.com/a/46130505/2603230 */
.MainView {
  flex: 1;
  min-height: 0;
  width: 100%;
  display: flex;
}

@import "Loading";
@import "CalendarView";
@import "PaperView";
@import "SearchView";
