* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
}

a {
  color: #820000;
}

/* https://stackoverflow.com/a/46130505/2603230 */
.App {
  text-align: center;
  height: 100vh;
  /* It should never be necessary to scroll the whole page. */
  margin: 0;
  /* Nothing should get added to the 100vh. */
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #8c1515 !important;
}

.site-title a {
  color: white;
}

.searchbar {
  background-color: transparent;
  color: white;
}
.searchbar::placeholder {
  color: lightgray;
}
.searchbar:focus {
  background-color: transparent;
  color: white;
}

/* https://stackoverflow.com/a/46130505/2603230 */
.MainView, .CalendarMainView, .PaperMainView, .SearchMainView {
  flex: 1;
  min-height: 0;
  width: 100%;
  display: flex;
}

@import "Loading";
@import "CalendarView";
@import "PaperView";
@import "SearchView";
