@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import "Variables";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'PT Serif', serif;

  // https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/
  position: fixed;
  overflow: hidden;
}

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    text-decoration: underline;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

mark {
  background: $color__sun;
}

/* https://stackoverflow.com/a/46130505/2603230 */
.App {
  text-align: center;
  //height: 100vh; // Handled by `react-div-100vh`.
  margin: 0;
  display: flex;
  flex-direction: column;

  // https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/
  width: 100vw;
  @extend %overflow-y;
}

.navbar {
  background-color: $color__cardinal-red;
  flex: none;
  .nav-link {
    &.active {
      @extend %no-click;
    }
  }
}

.site-title a {
  color: white;
}

.searchbar {
  background-color: transparent;
  color: white;
}
.searchbar::placeholder {
  color: $color__light-sandstone;
}
.searchbar:focus {
  background-color: transparent;
  color: white;
}

/* https://stackoverflow.com/a/46130505/2603230 */
.MainView {
  flex: auto;
  min-height: 0;
  width: 100%;
  display: flex;
  @extend %overflow-y;
}

@import "NotFound";
@import "Loading";
@import "HomeView";
@import "AllYearView";
@import "CalendarView";
@import "PaperView";
@import "SearchView";
@import "Header";
@import "AcknowledgementsView";
