.PaperMainView {
  @extend .MainView;
}

.NavigationSection {
  background-color: $color__light-sandstone;
  text-align: left;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  display: flex;
  flex-direction: column;

  overflow: auto;

  // TODO: add animation to resize
}

.PaperTitleBar {
  background-color: $color__stone;
  color: white;
  text-align: center;
  padding-top: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 0;

  .BackToCalendarButton {
    margin: 0;
    margin-bottom: 20px;
    a {
      color: white;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .PaperNavigationSelectType {
    width: 100%;
    background-color: $color__cool-grey;
    color: black;
    border-top: 1px solid black;

    .PaperNavigationSelection {
      display: inline-block;
      padding: 10px;
      width: 50%;
      text-align: center;

      cursor: pointer;
      color: white;
      text-decoration: underline;
      &:hover, &:focus {
        text-decoration: none;
      }

      &.Active {
        background-color: $color__light-sage;
        color: black;
        text-decoration: none;
        @extend %no-click;
      }
    }
  }
}

.PaperNavigationItems {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 1;

  @extend %overflow-y;

  .EachPageArticleList {
    padding-top: 1rem;
    &:last-of-type {
      padding-bottom: 1rem;
    }
  }

  ul {
    list-style: none;
    padding-left: 10px;
    margin-bottom: 0;

    // https://stackoverflow.com/a/46379002/2603230
    li {
      display: table;
      svg {
        margin-right: 5px;
      }
      .SectionTitle {
        display: table-cell;
        .SectionTitleLink {
          @extend %link;
          text-decoration: underline;
        }
      }
    }
  }


  .SectionContent {
    padding-top: 1rem;
    .CloseButton {
      float: right;
      font-size: 1.5em;
      font-weight: bold;
      @extend %link;
    }
    h3 {
      word-wrap: break-word;
      padding-right: 15px;
    }
    .Author {
      text-align: right;
    }
  }
}

.PaperSection {
}

@media screen and (max-width: 700px) {
  .PaperMainView {
    flex-direction: column;
  }
  .NavigationSection, .PaperSection {
    width: 100%;
    // Override `flex-basis` changed by dragging on mobile screens.
    flex-basis: 50% !important;
  }
  .PaperTitleBar {
    padding-top: 0;
    .PaperTitleInfo {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 1rem;
        line-height: inherit;
        margin: 0;
      }
      .BackToCalendarButton {
        margin-bottom: 0;
      }
    }
  }
}

.SectionHighlight {
  opacity: 0.25;
  /*outline: 12px auto #0A7EbE;*/
  background-color: $color__sandstone;
}
