.PaperMainView {
  @extend .MainView;
}

.NavigationSection {
  width: 30%;
  background-color: $color__light-sandstone;
  text-align: left;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  display: flex;
  flex-direction: column;

  overflow: auto;
}

.PaperTitleBar {
  background-color: $color__stone;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 0;
}
.PaperTitleBar .BackToCalendarButton {
  margin: 0;
}
.PaperTitleBar .BackToCalendarButton a {
  color: white;
  text-decoration: underline;
}

.PaperNavigationItems {
  padding: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  flex: 1;

  overflow-y: auto;

  ul {
    list-style: none;
    padding-left: 10px;

    // https://stackoverflow.com/a/46379002/2603230
    li {
      display: table;
      svg {
        margin-right: 5px;
      }
      .SectionTitle {
        display: table-cell;
        .SectionTitleLink {
          @extend a;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.PaperSection {
  width: 70%;
}

@media screen and (max-width: 700px) {
  .PaperMainView {
    flex-direction: column;
  }
  .NavigationSection {
    height: 30%;
    width: 100%;
  }
  .PaperTitleBar {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .PaperTitleBar h1 {
    font-size: 1rem;
    line-height: inherit;
    float: left;
    margin: 0;
  }
  .PaperTitleBar .BackToCalendarButton {
    float: right;
  }
  .PaperSection {
    height: 70%;
    width: 100%;
  }
}

.SectionHighlight {
  opacity: 0.25;
  /*outline: 12px auto #0A7EbE;*/
  background-color: $color__sandstone;
}
