.SearchMainView {
  @extend .MainView;
}

.SearchFilterSection {
  width: 30%;
  background-color: $color__light-sage;
  text-align: left;
  padding: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
  }

  .form-row > .col, .form-row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .form-row > .col-form-label {
    padding-right: 10px;
  }

  .list-inline {
    margin-bottom: 0;
    & > li {
      display: inline-block;
    }
  }

  .searchButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rjsf label[for=search_q] {
    display: none;
  }
}



.SearchResultSection {
  width: 70%;
  overflow-y: auto;
  text-align: left;

  .SearchResultNoResult {
    margin-top: 20px;
    text-align: center;
    font-size: 200%;
  }
}

.EachResult {
  padding: 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid black;
  }

  &.SearchPagination {
    display: flex;
    align-items: center;


    $pagination_border-color: $color__brown;
    $pagination_hover-color: $color__clay;
    $pagination_active-color: $color__redwood;
    $pagination_radius: .3rem; // From Bootstrap

    .rc-pagination {
      margin: 0 auto;
    }

    .rc-pagination-item {
      border: 1px solid $pagination_border-color;
      border-radius: $pagination_radius;

      &:not(.rc-pagination-item-active) {
        &:hover > a, &:focus > a {
          color: $pagination_hover-color;
        }
      }
    }
    .rc-pagination-prev, .rc-pagination-next, .rc-pagination-jump-prev, .rc-pagination-jump-next {
      border-radius: $pagination_radius;
      &:hover::after, &:focus::after {
        color: $pagination_hover-color;
      }
    }
    .rc-pagination-options-quick-jumper input {
      border-radius: $pagination_radius;
      &:hover {
        border-color: $pagination_hover-color;
      }
    }
    .rc-pagination-item-active {
      background-color: $pagination_active-color;
      color: white;
    }
  }
}
// https://github.com/google/material-design-icons/issues/206#issuecomment-253966226
.EachResultTitle {
  display: flex;
  vertical-align: middle;
  align-items: center;

  svg {
    flex: none;
    margin-right: 5px;
  }

  .EachResultDate {
    color: $color__gold;
    font-weight: normal;

    flex: none;

    // https://stackoverflow.com/a/22429853/2603230
    margin-left: auto;
  }
}
.EachResultEachText:last-of-type {
  margin-bottom: 0;
}
.EachResultEachText b {
  color: $color__redwood;
}
