.SearchMainView {
  @extend .MainView;
}

.SearchFilterSection {
  width: 30%;
  background-color: $color__light-sage;
  text-align: left;
  padding: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  display: flex;
  flex-direction: column;

  overflow-y: auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
  }

  .form-row > .col, .form-row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .form-row > .col-form-label {
    padding-right: 10px;
  }

  .list-inline {
    margin-bottom: 0;
    & > li {
      display: inline-block;
    }
  }

  .searchButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rjsf label[for=search_q] {
    display: none;
  }
}



.SearchResultSection {
  width: 70%;
  overflow-y: auto;
  text-align: left;

  .SearchResultNoResult {
    margin-top: 20px;
    text-align: center;
    font-size: 200%;
  }
}

.EachResult {
  padding: 20px;

  &.ResultHeader {
    color: $color__clay;
    font-style: italic;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid black;
  }
}
// https://github.com/google/material-design-icons/issues/206#issuecomment-253966226
.EachResultTitle {
  display: flex;
  vertical-align: middle;
  align-items: center;

  svg {
    flex: none;
    margin-right: 5px;
  }

  .EachResultDate {
    color: $color__gold;
    font-weight: normal;

    flex: none;

    // https://stackoverflow.com/a/22429853/2603230
    margin-left: auto;
  }
}
.EachResultEachText:last-of-type {
  margin-bottom: 0;
}
.EachResultEachText b {
  color: $color__redwood;
}
