.SearchMainView {
  @extend .MainView;
}

.SearchFilterSection {
  width: 30%;
  background-color: $color__light-sage;
  text-align: left;
  padding: 20px;

  /* https://codepen.io/anthonyLukes/pen/DLBeE */
  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

.SearchResultSection {
  width: 70%;
  overflow-y: auto;
  text-align: left;
}

.EachResult {
  padding: 20px;
}
.EachResult:not(:last-of-type) {
  border-bottom: 1px solid black;
}
// https://github.com/google/material-design-icons/issues/206#issuecomment-253966226
.EachResultTitle {
  display: flex;
  vertical-align: middle;
  align-items: center;

  svg {
    flex: none;
    margin-right: 5px;
  }

  .EachResultDate {
    color: $color__gold;
    font-weight: normal;

    flex: none;

    // https://stackoverflow.com/a/22429853/2603230
    margin-left: auto;
  }
}
.EachResultEachText:last-of-type {
  margin-bottom: 0;
}
.EachResultEachText b {
  color: $color__redwood;
}



.SearchFilterSection .form-group {
  margin-bottom: 0;
}
.SearchFilterSection .form-row {
  margin: 0 auto;
}
.SearchFilterSection .form-row:not(:last-of-type) {
  margin-bottom: 10px;
}
.SearchFilterSection .list-inline {
  margin-bottom: 0;
}
.SearchFilterSection .list-inline > li {
  display: inline-block;
}
.SearchFilterSection .list-inline > li:not(:last-of-type) {
  margin-right: 5px;
}
